.myPreloader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #d9534f;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1);
}
.myPreloader #loaderIcon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -24px;
  /*-webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 100;
  -webkit-animation-timing-function: linear;*/
}
.myPreloader #loadingText {
  position: absolute;
  display: block;
  top: 50%;
  left: 42%;
  margin-top: 40px;
  margin-left: 0;
  padding-top: 10px;
  width: 200px;
  height: 45px;
  background-color: white;
  overflow: hidden;
  z-index: 45;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
}
.myRow {
  text-align: center;
  margin-top: 10%;
}
.titleWelcome{
-moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  background-color: #d9534f;
  padding: 10px;
}
.welcomePage {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /*background-color: #d9534f;*/
  background-color: white;
  z-index: 80;
}
.welcomePage > .row {
  width: 100%;
  position: relative;
  left:42%;
  top: 20%;
}
.buttonContainer {
  width: 200px;
  height: 45px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  background-color: #d9534f;
  overflow: hidden;
  z-index: 45;
  text-align: center;
  margin-left: 20px;
}
.siteButton {
  display: block;
  margin-top: -10px;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1);
}
.siteButton:hover {
  text-decoration: none;
  color: #5e5e5e;
}
.siteButton div {
  margin: 20px;
}