body {
  background-color: white;
  height: 100%;
  
}
.myBody{
  z-index: 20;
}
.navbar{
  margin-bottom: 0;
  height: 48px;
}
.navbar-default {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.navbar-default .navbar-brand {
  color: #777777;
  background-color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #5e5e5e;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #5e5e5e;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}

.prev-control {
  left: 0px;
  right: auto;
  z-index: 35;
}
.prev-control, .next-control{
  position: absolute;
  z-index: 35;
  top: 50%;
  right: 0px;
  margin-top: -98px;
  width: 55px;
  height: 83px;
  overflow: hidden;
  cursor: pointer;

}
.prev-control .shape {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.next-control .shape {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.prev-control .shape, .next-control .shape {
  position: absolute;
  width: 55px;
  height: 83px;
  background-color: rgba(217,83,79, 0.6);
  border:2px solid #d43f3a;

}
.prev-control .shape:active {
  margin-left: -10px;
  background-color: rgba(210,50,45, 0.6);
  border:2px solid rgba(210,50,45,0.6);
}
.next-control .shape:active {
  margin-left: 10px;
  background-color: rgba(210,50,45, 0.6);
  border:2px solid rgba(210,50,45,0.6);
}
.prev-control .shape .arrow:active{
  margin-left: -10px;
  padding-left: 30px;
}
.next-control .shape .arrow:active{
  padding-left: 10px;
  margin-left: 10px;
}
.next-control .shape .arrow, .prev-control .shape .arrow {
position: relative;
padding-top: 45%;
padding-left: 10px;
width: 100%;
height: 100%;

}
.next-control .shape .arrow .glyphicon, .prev-control .shape .arrow .glyphicon{
 font-size: 30px;
}
.main-vue {
  margin-top: 48px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.carousel-inner .item {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.video-fond {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}
.video-fond > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* 1. Pas de support d'object-fit */
@media (min-aspect-ratio: 16/9) {
  .video-fond > video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-fond > video {
    width: 300%;
    left: -100%;
  }
}
/* 2. En cas de support d'object-fit, écrase les règles en (1) */
@supports (object-fit: cover) {
  .video-fond > video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.home-data {
  position: relative;
  top: 10px;
  left: -8px;
  z-index: 30;
}
.footer{
  color: white;
  text-align: center;
  height: 48px;
  width: 100%;
  position: fixed;
  bottom:0;
  padding-top: 15px;
  /*background-color: #222222;*/
  background-color: #d9534f;
  border-color: #d43f3a;
  border: 1px solid transparent;
}

/* Masonry configuraation */
a.zoombox img {
  width:20%;
}

.itemAlbum { 
  width: 200px;
  margin-left: 20px;
  margin-top: 10px;
  height: 200px;
  background-color:  #d9534f;
  border-radius: 10px 10px 8px 8px;
}
.itemAlbum a {
  font-size: 13px;
  font-weight: bold;
  background: #d9534f;
  color: white;
  display: block;
  width: 100%;
  border-radius: 10px 10px 8px 8px;
  text-decoration: none;
  position: relative;
  top:170px;
  text-align: center;
}
.containerMedia {
  margin-left: 20px;
  margin-top: 10px;
}
.centerAlbum {
  margin-top: 40px;
  margin-left: 45% !important;
  width: 100%;
}