<ul class="list-group">
	{% for comment in comments%}
		{% if articleId == comment.getArticlearticle.getIdarticle %}
		<li class="list-group-item">{{comment.getContentcomment}}</li>
		{% endif %}
	{% endfor %}
</ul>