<div class="panel panel-danger article">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{article.getTitlearticle}}
    </h3>
  </div>
  <div class="panel-body">
    {{ article.getContentarticle }}
  </div>
  <div id="panel-article-{{article.getIdarticle}}" class="panel-footer">
  	<div class="btn-group">
  		<button type="button" class="btn btn-default comment" data-toggle="modal" data-target="#CommentFormModal{{article.getIdarticle}}">
  		Commenter
  		</button>
  		<button type="button" class="btn btn-default displayComment" data-toggle="modal" data-target="#CommentModal{{article.getIdarticle}}" data-button="{{article.getIdarticle}}">
  			Commentaires
  			<span class="badge">42</span>
  		</button>
	</div>
  </div>
</div>
<div class="modal fade" id="CommentFormModal{{article.getIdarticle}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <textarea placeholder="Insert your comment..." class="form-control comment_textarea" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-submit-comment" data-button="{{article.getIdarticle}}">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="CommentModal{{article.getIdarticle}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        
       </div>
    </div>
  </div>
</div>