<div class="articles">
	{% for article in articles %}
		{% if ((loop.index-1) % 2) ==0 %}
			<div class=".row">
		{%endif%}
		<div class="col-xs-6 ">
			{{ render(controller('steelvibrationHomeBundle:Articles:displayArticle', { 'article': article })) }}
  		</div>
		{%if ((loop.index-1) % 2) ==0%}
			</div>
		{%endif%}
	{% endfor %}
</div>


    
