<audio id="audioPlayer" preload="auto">
</audio>
<li>
  <div class="btn-group btn-group-lg">
    <button type="button" id="btnReverse" class="btn btn-danger">
      <span class="glyphicon glyphicon-step-backward"></span>
      <!-- <img src="{{ asset('bundles/steelvibrationhome/images/audioPlayer/btnReverse.png')}}" style="margin-top: 5px;" /> -->
    </button>

    <button type="button" id="btnPlayPause" class="btn btn-danger">
      <span id="playItem" class="glyphicon glyphicon-play"></span>
      <!-- <img id="playItem" src="{{ asset('bundles/steelvibrationhome/images/audioPlayer/btnPlay.png')}}" /> -->
    </button>

    <button type="button" id="btnForward" class="btn btn-danger">
      <!-- <img src="{{ asset('bundles/steelvibrationHome/images/audioPlayer/btnForward.png')}}" style="margin-top: 5px;" /> -->
      <span class="glyphicon glyphicon-step-forward"></span>
    </button>

    <button id="playedMusicTitle" class="blockTitleMusic backgroundMusicControls">
    </button>
  
    
    <button type="button" id="btnVolume" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown">
      <!-- <img src="{{ asset('bundles/steelvibrationHome/images/audioPlayer/btnVol.png')}}" style="margin-top: 5px;" /> -->
        <span class="glyphicon glyphicon-volume-up"></span>
      <b class="caret"></b>
    </button> 
    <div class="dropdown-menu backgroundMusicControls" role="menu">
      <div id="volumeControl" class="btn-group btn-group-xs ">
        <!-- <img src="{{ asset('bundles/steelvibrationHome/images/audioPlayer/volMin.png')}}" />  -->
        <button type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-volume-down"></span>
        </button>
        <button class="volumeControl backgroundMusicControls">
          <input type="range" id="volume" class="volume" value="50" min="0" max="100" step="1">
        </button>
        <!-- <img src="{{ asset('bundles/steelvibrationHome/images/audioPlayer/volMax.png')}}" /> -->
        <button type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-volume-up"></span>
        </button>
      </div>      
    </div>    
  

  </div>
</li> 
<progress id="avancement" value="0" max="100"></progress> 
<ul id="audioPlayList">
{% for music in playlist %}
  <li>
    <a class="musicRef" href="#" data-track="{{loop.index}}" data-song="{{ asset( music.getPathmusic )}}" data-title="{{music.getTitlemusic}}">{{music.getTitlemusic}}</a>
  </li>
{% endfor %}
</ul>

 <!-- <div id="playerDetails">
  
  <div id="playedMusicTitle"></div>
  <div id="playingControl">
    <span id="currentTime"></span> 
    <span id="totalTime" style="float: right;"></span>
    
  </div>
</div>  -->
