<div class="video-fond">
  <video preload="auto" autoplay="true" loop>
    <source type="video/mp4" src="{{ asset('bundles/steelvibrationhome/videos/beyond.mp4') }}" media="(orientation: landscape)">
      <source type="video/mp4" src="{{ asset('bundles/steelvibrationhome/videos/beyond.webm') }}" media="(orientation: landscape)">
  </video>  
</div>