<!DOCTYPE html>
<html>
<head>

    <title>SteelVibration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/steelvibrationHome/css/firstPage.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    

</head>

<body>
  <div class="myPreloader">
        <div id="loaderIcon">
          <img src="{{ asset('bundles/steelvibrationhome/images/saw.png') }}" alt="">
        </div>
        <p id="loadingText">
          Loading
        </p>
    </div>

  <div class="container-fluid welcomePage">
    <div class="myRow">
    <div class="col-xs-12">
        <h2 class="titleWelcome">Une association qui a pour but la promotion et le développement du Steelpan</h2>
      </div>  
    </div>
    
    <div class="row">
      
      <div class="col-xs-6">
        <div class="logoWelcome">
          <img  src="{{ asset('bundles/steelvibrationhome/images/logo.gif') }}" alt="Logo SV">
        </div>         
        <div class="buttonContainer ">
          <a href="#" value="{{ path('steelvibration_homePage')}}" class="siteButton" >
            <div>
              Visit our website
            </div>
            <div>
              Visit our website
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>
  </body>
  <!-- Include all JavaScripts, compiled by Assetic -->
  <script src="{{ asset('js/jquery.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
  <script src="{{ asset('js/TweenMax.min.js') }}"></script>
  <script src="{{ asset('js/preloadjs-0.4.1.min.js') }}"></script>
  <script src="{{ asset('bundles/steelvibrationhome/js/firstPage.js') }}"></script>


</html>