<div class="home-data">
  <div class="col-xs-6 ">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Test
        </h3>
      </div>
      <div class="panel-body">
        {{ 'This is the story of a .icon-paperclip that travled the .icon-globe with his .icon-headphones on.'|parse_icons }}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, aspernatur ipsa. Maxime, nihil suscipit velit numquam. Tenetur, ullam doloribus vero libero sunt reprehenderit aspernatur consequuntur, nam provident rem, deserunt fugiat.
      </div>
    </div>
  </div>
  <div class="col-xs-6 well">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, aspernatur ipsa. Maxime, nihil suscipit velit numquam. Tenetur, ullam doloribus vero libero sunt reprehenderit aspernatur consequuntur, nam provident rem, deserunt fugiat.
  </div>
</div>
<div class="video-fond">
  <video preload="auto" autoplay="true" loop>
    <source type="video/mp4" src="{{ asset('bundles/steelvibrationhome/videos/beyond.mp4') }}" media="(orientation: landscape)">
      <source type="video/mp4" src="{{ asset('bundles/steelvibrationhome/videos/beyond.webm') }}" media="(orientation: landscape)">
  </video>  
</div>