{% extends "steelvibrationHomeBundle::layout.html.twig" %}

{% block home %} {% include "steelvibrationHomeBundle::home.html.twig" %} {% endblock %}
{% block event %} {% include "steelvibrationHomeBundle::event.html.twig" %} {% endblock %}

{% block mosaic %} {% include "steelvibrationHomeBundle::mosaic.html.twig" %} {% endblock %}

{% block shop %} {{ render(controller('steelvibrationHomeBundle:Shop:default'), { 'max': 5 }) }} {% endblock %}

{% block article %} {{ render(controller('steelvibrationHomeBundle:Articles:default')) }} {% endblock %}

{% block media %}  {% endblock %}

{% block contact %} {% include "steelvibrationHomeBundle::contact.html.twig" %} {% endblock %}

