<!DOCTYPE html>
<html>
<head>

    <title>SteelVibration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/general.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/zoombox.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/steelvibrationHome/css/audioPlayer.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/steelvibrationHome/css/firstPage.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    

</head>

<body>

  <div class="container-fluid myBody">
    <div class="row navGeneral">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{{ asset('bundles/steelvibrationhome/images/iconLogo.ico') }}"> Steel Vibration</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="menuHome" data-target="#carousel-example-generic" data-slide-to="0" class="active"><a href="#">Home</a></li>
            <li id="menuEvent" data-target="#carousel-example-generic" data-slide-to="1"><a href="#">Event</a></li>
            <li  id="menuMedia" class="dropdown">
              <a  href="#" class="dropdown-toggle" data-toggle="dropdown">Media <b class="caret"></b></a>
              <ul class="dropdown-menu backgroundMusicControls">
                <li id="menuMosaicVideos" data-target="#carousel-example-generic" data-slide-to="2"><a href="#">Videos</a></li>
                <li class="divider"></li>
                <li id="menuMosaicPhotos" data-target="#carousel-example-generic" data-slide-to="2"><a href="#">Photos</a></li>
                 <li class="divider"></li>
                <li id="menuMosaicMusics" data-target="#carousel-example-generic" data-slide-to="2"><a href="#">Musics</a></li>
              </ul>
            </li>
            <li id="menuShop" data-target="#carousel-example-generic" data-slide-to="3" ><a href="#">Shop</a></li>
            <li id="menuContact" data-target="#carousel-example-generic" data-slide-to="4" ><a href="#">Contact</a></li>
          </ul>
          <!-- player audio -->
          <ul id="navbar-player" class="nav navbar-nav navbar-right">
            {{ render(controller('steelvibrationHomeBundle:AudioPlayer:default', { 'max': 5 })) }}
          </ul> <!-- /.player audio -->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <!-- Controls -->
  <div class="prev-control">
      <div class="shape">
        <div id="carouselArrowLeft" class="arrow" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
      </div>
  </div>
  <div class="next-control">
    <div class="shape">
      <div id="carouselArrowRight" class="arrow" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    </div>
  </div>

  <div class="row-fluid main-vue">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div id="blockHome" class="item active">  
          {% block home %}
            Home
          {% endblock %}
        </div> 
        <div id="blockEvent" class="item ">
            {% block event %}
              event
            {% endblock %} 
        </div>
        <div id="blockMosaic" class="item">    
          {% block media %}  
            Media
          {% endblock %} 
        </div>
        <div id="blockShop" class="item">      
          {% block shop %}
            shop
          {% endblock %}  
        </div>
        <div id="blockContact" class="item">      
          {% block contact %}
            contact
          {% endblock %}  
        </div>
      </div> <!-- /.carousel-inner -->
    </div>
  </div>  

    <footer class="footer">
      <p class="text-footer center">Copyright SteelVibration - Tous droits réservés - 2014</p>
    </footer>
  </div><!-- /.container-fluid -->

</body>
  <!-- Include all JavaScripts, compiled by Assetic -->
  <script src="{{ asset('js/jquery.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
  <script src="{{ asset('js/zoombox.js') }}"></script>
  <script src="{{ asset('js/modernizr.js') }}"></script>
  <script src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
  <script src="{{ asset('bundles/steelvibrationHome/js/audioPlayer.js') }}"></script>
  <script src="{{ asset('bundles/steelvibrationHome/js/general.js') }}"></script>
  <script src="{{ asset('js/TweenMax.min.js') }}"></script>
  <script src="{{ asset('js/preloadjs-0.4.1.min.js') }}"></script>
  <script type="text/JavaScript">
    // Set active the current element of the menu
    function setActiveMenu(nodeLI) {
      var $this = nodeLI;
      if (!$this.hasClass('active')) 
      {
        $("ul.nav").children().removeClass('active');
        $this.addClass('active');
      }
    }

    $('.nav li ').click(function(e) {
      setActiveMenu($(this));
      e.preventDefault();
    });

    


    $('#carouselArrowRight').click(function(e) {
      e.preventDefault();
     
      if($("#blockHome").hasClass('active'))
      {        
        setActiveMenu($('#menuEvent'));
      } 
      if($("#blockEvent").hasClass('active'))
      {        
        setActiveMenu($('#menuMedia'));
      }
      if($("#blockMosaic").hasClass('active'))
      {
        setActiveMenu($('#menuShop'));
      } 
      if($("#blockShop").hasClass('active'))
      {
        setActiveMenu($('#menuContact'));
      } 
      if($("#blockContact").hasClass('active'))
      {
        setActiveMenu($('#menuHome'));
      } 
    });
    $('#carouselArrowLeft').click(function(e) {
      e.preventDefault();     
      if($("#blockHome").hasClass('active'))
      {        
        setActiveMenu($('#menuContact'));
      } 
      if($("#blockEvent").hasClass('active'))
      {        
        setActiveMenu($('#menuHome'));
      } 
      if($("#blockMosaic").hasClass('active'))
      {
        setActiveMenu($('#menuEvent'));
      } 
      if($("#blockShop").hasClass('active'))
      {
        setActiveMenu($('#menuMedia'));
      } 
      if($("#blockContact").hasClass('active'))
      {
        setActiveMenu($('#menuShop'));
      } 
    });
    $(document).ready(function($) {
     
      audioPlayerJS();
     $('#menuMosaicVideos').on('click', function() {
      $("#blockMosaic").load('{{ path("listAlbum", {"type": "video"}) }}');
       albumClick();
      });

      $('#menuMosaicPhotos').on('click', function() {
        $("#blockMosaic").load('{{ path("listAlbum", {"type": "photo"}) }}');
        albumClick();
      });

      $('#menuMosaicMusics').on('click', function() {
        $("#blockMosaic").load('{{ path("listAlbum", {"type": "music"}) }}');
        albumClick();
      });
    });
    function albumClick() {
      $('.albums').unbind().bind('click', function(ev){
       ev.preventDefault();
       console.log("click albums button");
        $.post( $(this).attr('value'),
        {idAlbum: $('.albums').attr('id').split('_')[1]},
        function(result){
          
            console.log('succes');
            console.log(result) ;

            html = "<div class='containerMedia'>";

            if($('.albums').attr('id').split('_')[2] == "photo") // if photo
            {
              for(i= 0; i < result.length; i++) {

                html += '<a href="../'+result[i].pathmedia+'" class="zoombox zgallery1" title="'+result[i].titlemedia +'">';
                html += '<img src="../'+result[i].pathmedia+'"> </a>';

              }
              html += "</div>";

              html += '<div class="centerAlbum buttonContainer ">';
              html += '<a href="#" value="" class="siteButton" >';
              html += '<div>';
              html +=  '     Back to albums';
              html +=  '   </div>';
              html +=  '   <div>';
              html +=  '     Back to albums';
              html +=  '   </div>';
              html +=  ' </a>';
              html +=  '</div>';



            $('#blockMosaic').html(html);
            $('a.zoombox').zoombox();

            $(".siteButton").on('click', function(ev){
              ev.preventDefault();
               $('#blockMosaic').load('{{ path("listAlbum", {"type": "photo"}) }}');

            });
            }
            else if($('.albums').attr('id').split('_')[2] == "video") //if video
            {
              for(i= 0; i < result.length; i++) {
                html += '<iframe id="ytplayer" type="text/html" width="640" height="360" src="'+ result[i].pathmedia+'" frameborder="0" allowfullscreen>';
              }
              html += "</div>";
              html += '<div class="centerAlbum buttonContainer ">';
              html += '<a href="#" value="" class="siteButton" >';
              html += '<div>';
              html +=  '     Back to albums';
              html +=  '   </div>';
              html +=  '   <div>';
              html +=  '     Back to albums';
              html +=  '   </div>';
              html +=  ' </a>';
              html +=  '</div>';



            $('#blockMosaic').html(html);
            $('a.zoombox').zoombox();

            $(".siteButton").on('click', function(ev){
              ev.preventDefault();
               $('#blockMosaic').load('{{ path("listAlbum", {"type": "video"}) }}');

            });
            }
            else if($('.albums').attr('id').split('_')[2] == "music")
            {

            }
           
            $(".siteButton").mouseover(function() {
              return TweenMax.to($(".siteButton"), 1, {
                css: {
                  transform: "translateY(-66%) translateZ(0)"
                },
                delay: 0,
                ease: Expo.easeOut
              });
            });
            $(".siteButton").mouseout(function() {
              return TweenMax.to($(".siteButton"), 1, {
                css: {
                  transform: "translateY(0%) translateZ(0)"
                },
                delay: 0,
                ease: Expo.easeOut
              });
            });
          
        },"json");
  });
    }
      
  //   $(document).ready(function() {
  //   var transitionProp = getStyleProperty('transition');
  //   var transitionEndEvent = {
  //     WebkitTransition: 'webkitTransitionEnd',
  //     MozTransition: 'transitionend',
  //     OTransition: 'otransitionend',
  //     transition: 'transitionend'
  //   }[ transitionProp ];


  //   var $container = $('.container-hero').masonry({
  //     itemSelector: '.hero-item',
  //     columnWidth: '.grid-sizer'
  //   });

  //   $container.on( 'click', '.item-content', function( event ) {
  //     var $this = $(this);
  //     var previousContentSize = getSize( this );
  //     // disable transition
  //     this.style[ transitionProp ] = 'none';
  //     // set current size
  //     $this.css({
  //       width: previousContentSize.width,
  //       height: previousContentSize.height
  //     });

  //     var $itemElem = $this.parent().toggleClass('is-expanded');

  //     // force redraw
  //     var redraw = this.offsetWidth;

  //     // renable default transition
  //     this.style[ transitionProp ] = '';

  //     // reset 100%/100% sizing after transition end
  //     if ( transitionProp ) {
  //       var _this = this;
  //       var onTransitionEnd = function() {
  //         _this.style.width = '';
  //         _this.style.height = '';
  //       };
  //       $this.one( transitionEndEvent, onTransitionEnd );
  //     }

  //     // set new size
  //     var size = getSize( $itemElem[0] );
  //     $this.css({
  //       width: size.width,
  //       height: size.height
  //     });

  //     $container.masonry();
  //   });
  // });
    $(document).ajaxComplete(function(){
      albumClick();
    });
</script>
</html>