
<div id="containerAlbum" class="js-masonry" data-masonry-options='{ "columnwidth": 200, "itemSelector": ".itemAlbum"}'>
	{% for album in albums %}
	  <div class="itemAlbum">
	  	<a  class="albums" id="linkAlbum_{{ album.idmediaalbum }}_{{ album.typemediaalbum }}" value="{{ path('album_show', { 'idAlbum': album.idmediaalbum }) }}" href="#"> {{ album.gettitreMediaAlbum }}
	  	</a>
	  </div>
	{% endfor %}
</div>
