<form method="post" action="{{path('_shop_homepage')}}" class="shop_form">

	<div class="section_album">

		<h3 class="h3format">Album Information</h3>

		<table border = 0 class="aligntable">
				<tr>
					<td width="100px">Pochette</td>
					<td width="100px">Album</td>
					<td width="100px">Prix (€)</td>
					<td width="100px">Quantité</td>
				</tr>


		   		{% for album in albumlist %}

		   		<tr>
		   			<td><IMG src="{{ asset('image/album/')}}{{album.getImagepath}}" alt="image" width="100" height="75"/></td>
		   			<td>{{album.getTitlealbum}}</td>
		   			<td>{{album.getPricealbum}}<input type="hidden" name="price_{{album.getIdalbum}}" id="price_{{album.getIdalbum}}" /></td>
		   			<td><input type="number" name="quantity_{{album.getIdalbum}}" id="quantity_{{album.getIdalbum}}" min="0" value="0"/></td>
		   		</tr>

		    	{% endfor %}

		</table>

	</div>

	<div class="section_customer">

		<h3 class="h3format">Customer Information</h3>

		<div class="clear"></div>

		<label for="lastname">Nom : </label>
		<div style='display:inline'>
			<input id="lastname" type="text" />
		</div>
		<div class="clear"></div>
		<label for="firstname">Prénom : </label>
		<div style='display:inline'>
			<input id="firstname" type="text" />
		</div>
		<div class="clear"></div>
		<label for="billingadress">Adresse de facturation : </label>
		<div style='display:inline'>
			<textarea id="billingadress" rows="1"></textarea><br>
		</div>
		<div class="clear"></div>
		<label for="shippingadress">Adresse de livraison : </label>
		<div style='display:inline'>
			<textarea id="shippingadress" rows="1"></textarea><br>
		</div>
		<div class="clear"></div>
		<label for="phone">Téléphone : </label>
		<div style='display:inline'>
			<input id="phone" type="tel" />
		</div>
		<div class="clear"></div>
		<label for="mail">Mail : </label>
		<div style='display:inline'>
			<input id="mail" type="email" />
		</div>
		<div class="clear"></div>

	</div>

	<div class="clear"></div>

	<div style="width : 100%; text-align : center;">
		<input type="submit" value="Envoyer" />
	</div>

</form>

