<!DOCTYPE html>
<html>
<head>

    <title>SteelVibration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/general.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>

  <div class="container-fluid">
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Steel Vibration</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Event</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Videos</a></li>
              <li class="divider"></li>
              <li><a href="#">Photos</a></li>
               <li class="divider"></li>
              <li><a href="#">Musics</a></li>
            </ul>
          </li>
        </ul><!-- 
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="video-fond">
        <img src="{{ asset('image/tenor.jpg') }}" alt="...">
        <div class="carousel-caption">
          Tenor
        </div>
      </div>
    </div>
    <div class="item">
      <div class="video-fond">
        <video preload="auto" autoplay="true" loop>
          <!-- Source vidéo par défaut -->
          <source type="video/mp4" src="{{ asset('video/background.mp4') }}" media="(orientation: landscape)">
        </video>
        <!-- Ici les boutons ou les métadonnées -->
      </div>
    </div>
      <div class="item">
        <div class="video-fond">
          <div class="col-xs-6 ">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Test
                </h3>
              </div>
              <div class="panel-body">
                {{ 'This is the story of a .icon-paperclip that travled the .icon-globe with his .icon-headphones on.'|parse_icons }}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, aspernatur ipsa. Maxime, nihil suscipit velit numquam. Tenetur, ullam doloribus vero libero sunt reprehenderit aspernatur consequuntur, nam provident rem, deserunt fugiat.
              </div>
            </div>
          </div>
          <div class="col-xs-6 well">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, aspernatur ipsa. Maxime, nihil suscipit velit numquam. Tenetur, ullam doloribus vero libero sunt reprehenderit aspernatur consequuntur, nam provident rem, deserunt fugiat.
          </div>
        </div>
      </div>
  </div> <!-- /.carousel -->

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
  
  </div><!-- /.container-fluid -->

   


    <footer class="container-fluid footer">
      <p class="text-footer center">Copyright SteelVibration - Tous droits réservés - 2014</p>
    </footer>
  </div>
</body>
  <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
  <script src="{{ asset('js/jquery.js') }}"></script>
  <!-- Include all JavaScripts, compiled by Assetic -->
  <script src="{{ asset('js/bootstrap.js') }}"></script>
</html>