#player {
	display: block;
}

#player button{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

#playerControls{
	float: left;
	border-right: #e5e5e5 1px solid;
	border-left: #e5e5e5 1px solid;
}

#playerControls ul{
	list-style-type:none;
	margin-top: 5px;
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
}

#playerControls li{
	float: left;
}

#playerControls a{
	color: #f90000;
}

#playerControls a:hover{
	color: #000000;
}

#volume{
	margin: 0;
	padding: 0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 6px;
	position: relative;
	width: 70%;

.volume{
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #333;
	height: 5px;
	vertical-align: middle;
	margin-bottom: 6px;
}

.volume::-webkit-slider-thumb{
	-webkit-appearance: none !important;
	border-radius: 10px;
	background-color: #f90000;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 10px;
	width: 10px;
}
#volume::-moz-slider-thumb{
	-moz-appearance: none !important;
	border-radius: 10px;
	background-color: #f90000;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 5px;
	width: 10px;
}

#volumeControl{
	float: left;
	position: relative;
	margin-left: 5px;
}

#volumeControl *{
	float:left;
	position: relative;
}

#playerDetails{
	position: relative;
	float:left;
	max-width: 200px;
}

#playingControl{
	position: relative;
	float:left;
	width:100%;
	min-width: 70px;
}

#playingControl progress{
	position: relative;
	width: 100%;
	height: 5px;
	display: block;

#navbar-player {
	min-height: 50px;
}

#navbar-player > li {
	margin-bottom: -12px;
}
#navbar-player > progress{
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    background: #333; 
    background: -webkit-linear-gradient(#2d2d2d,#444);
    background:    -moz-linear-gradient(#2d2d2d,#444);
    background:      -o-linear-gradient(#2d2d2d,#444);
    background:         linear-gradient(#2d2d2d,#444);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 15px;
    width: 100%;
    height: 6px;
    
}

/* Style de la barre pour Firefox*/
#navbar-player > progress::-moz-progress-bar{
    border-radius:10px;
    background: #09c;
    background:#f90000;

}

/* Style de la barre pour chrome*/
#navbar-player > progress::-webkit-progress-value{
	border-radius:10px;
    background: #09c;
    background:#f90000;
}

#navbar-player > progress::-webkit-progress-bar{
    background: transparent;
}
.btn-music {
	background-color: rgba(237,28,36,1);
}
.blockTitleMusic {
	width: 200px;
	height: 45px;
	float:left;
	
}
.backgroundMusicControls {
	color: #ffffff;
	background-color: #d9534f;
	border-color: #d43f3a;
	text-align: center;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
}
.volumeControl {
	width: 100px;
	height: 22px;
	float: left;
}
#audioPlayList {
	display: none;
}
